{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <h3>Client Files</h3>
        <hr/>
       <script src="https://app.box.com/upload-widget/embed.js?folderID=63873554029&height=420&instructions=Use%20this%20page%20to%20send%20files%20securely%20to%20Pliant&isDescriptionFieldShown=1&isEmailRequired=1&title=Send%20Files%20to%20Pliant&token=e9z1dvrgqw58m5bum14eb55skvo1tzak&width=385" type="text/javascript"></script>
    </div>
</div>
{% endblock content %}